autocode-template-vue/autoCode-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="https://cn2oo8.github.io/molicode_doc/schema/autoCode"
           xmlns:molicode="https://cn2oo8.github.io/molicode_doc/schema/autoCode"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <xs:import namespace="http://www.w3.org/2001/XMLSchema-instance"/>
    <xs:element name="autoMake">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="molicode:moliCodeVersion"/>
                <xs:element ref="molicode:mavenInfo"/>
                <xs:element ref="molicode:properties"/>
                <xs:element ref="molicode:templates"/>
            </xs:sequence>
            <xs:attribute ref="xsi:schemaLocation" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="moliCodeVersion" type="xs:NMTOKEN"/>

    <xs:element name="mavenInfo">
        <xs:complexType>
            <xs:annotation>
                <xs:documentation source="version">3.0.0+</xs:documentation>
                <xs:documentation source="description">
                    The &lt;code&gt;&amp;lt;project&amp;gt;&lt;/code&gt; element is the root of the descriptor.
                    The following table lists all of the possible child elements.
                </xs:documentation>
            </xs:annotation>
            <xs:all>
                <xs:element name="modelVersion" minOccurs="0" type="xs:string">
                    <xs:annotation>
                        <xs:documentation source="version">4.0.0</xs:documentation>
                        <xs:documentation source="description">Declares to which version of project descriptor this POM
                            conforms.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="groupId" minOccurs="0" type="xs:string">
                    <xs:annotation>
                        <xs:documentation source="version">3.0.0+</xs:documentation>
                        <xs:documentation source="description">
                            A universally unique identifier for a project. It is normal to
                            use a fully-qualified package name to distinguish it from other projects with a similar name
                            (eg. &lt;code&gt;org.apache.maven&lt;/code&gt;).
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="artifactId" minOccurs="0" type="xs:string">
                    <xs:annotation>
                        <xs:documentation source="version">3.0.0+</xs:documentation>
                        <xs:documentation source="description">
                            The identifier for this artifact that is unique within the group given by the group ID.
                            An artifact is something that is either produced or used by a project. Examples of artifacts
                            produced by
                            Maven for a project include: JARs, source and binary distributions, and WARs.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="packaging" minOccurs="0" type="xs:string" default="jar">
                    <xs:annotation>
                        <xs:documentation source="version">4.0.0</xs:documentation>
                        <xs:documentation source="description">
                            The type of artifact this project produces, for example &lt;code&gt;jar&lt;/code&gt;
                            &lt;code&gt;war&lt;/code&gt;
                            &lt;code&gt;ear&lt;/code&gt;
                            &lt;code&gt;pom&lt;/code&gt;.
                            Plugins can create their own packaging, and
                            therefore their own packaging types,
                            so this list does not contain all possible types.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="name" minOccurs="0" type="xs:string">
                    <xs:annotation>
                        <xs:documentation source="version">3.0.0+</xs:documentation>
                        <xs:documentation source="description">
                            The full name of the project.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="version" minOccurs="0" type="xs:string">
                    <xs:annotation>
                        <xs:documentation source="version">4.0.0</xs:documentation>
                        <xs:documentation source="description">
                            The current version of the artifact produced by this project.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="description" minOccurs="0" type="xs:string">
                    <xs:annotation>
                        <xs:documentation source="version">3.0.0+</xs:documentation>
                        <xs:documentation source="description">
                            A detailed description of the project, used by Maven whenever it needs to describe the
                            project,
                            such as on the web site. While this element can be specified as CDATA to enable
                            the use of HTML tags within the description, it is discouraged to allow plain text
                            representation.
                            If you need to modify the index page of the generated web site, you are able to specify your
                            own instead
                            of adjusting this text.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="url" minOccurs="0" type="xs:string">
                    <xs:annotation>
                        <xs:documentation source="version">3.0.0+</xs:documentation>
                        <xs:documentation source="description">
                            The URL to the project&apos;s homepage.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="inceptionYear" minOccurs="0" type="xs:string">
                    <xs:annotation>
                        <xs:documentation source="version">3.0.0+</xs:documentation>
                        <xs:documentation source="description">
                            The year of the project&apos;s inception, specified with 4 digits.
                            This value is used when generating copyright notices as well as being informational.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="mailingLists" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation source="version">3.0.0+</xs:documentation>
                        <xs:documentation source="description">
                            Contains information about a project&apos;s mailing lists.
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="mailingList" minOccurs="0" maxOccurs="unbounded" type="MailingList"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="developers" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation source="version">3.0.0+</xs:documentation>
                        <xs:documentation source="description">
                            Describes the committers of a project.
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="developer" minOccurs="0" maxOccurs="unbounded" type="Developer"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="contributors" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation source="version">3.0.0+</xs:documentation>
                        <xs:documentation source="description">
                            Describes the contributors to a project that are not yet committers.
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="contributor" minOccurs="0" maxOccurs="unbounded" type="Contributor"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="licenses" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation source="version">3.0.0+</xs:documentation>
                        <xs:documentation source="description">
                            This element describes all of the licenses for this project.
                            Each license is described by a &lt;code&gt;license&lt;/code&gt; element, which
                            is then described by additional elements.
                            Projects should only list the license(s) that applies to the project
                            and not the licenses that apply to dependencies.
                            If multiple licenses are listed, it is assumed that the user can select any of them, not
                            that they
                            must accept all.
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="license" minOccurs="0" maxOccurs="unbounded" type="License"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="scm" minOccurs="0" type="Scm">
                    <xs:annotation>
                        <xs:documentation source="version">4.0.0</xs:documentation>
                        <xs:documentation source="description">
                            Specification for the SCM used by the project, such as CVS, Subversion, etc.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="organization" minOccurs="0" type="Organization">
                    <xs:annotation>
                        <xs:documentation source="version">3.0.0+</xs:documentation>
                        <xs:documentation source="description">
                            This element describes various attributes of the organization to
                            which the project belongs. These attributes are utilized when
                            documentation is created (for copyright notices and links).
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:all>
        </xs:complexType>
    </xs:element>


    <xs:element name="properties">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="molicode:property" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="property">
        <xs:complexType mixed="true">
            <xs:attribute name="key" use="required" type="xs:NCName"></xs:attribute>
        </xs:complexType>
    </xs:element>


    <xs:element name="snippet.template.path" type="xs:string"/>
    <xs:element name="extend.text.config" type="xs:string"/>
    <xs:element name="pagerequire.map.config" type="xs:string"/>
    <xs:element name="dbtype.javatype.map.config" type="xs:string"/>
    <xs:element name="dbtype.columntag.map.config" type="xs:string"/>

    <xs:element name="templates">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="molicode:template"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="template">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="identifiedType">
                    <xs:group ref="templateElements"/>
                    <xs:attributeGroup ref="templateAttributes"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="acceptDataModel" default="tableModel">
        <xs:simpleType>
            <xs:restriction base="xs:NMTOKEN">
                <xs:enumeration value="tableModel"/>
                <xs:enumeration value="json"/>
                <xs:enumeration value="lineList"/>
                <xs:enumeration value="cellList"/>
                <xs:enumeration value="javaSource"/>
                <xs:enumeration value="rawContent"/>
                <xs:enumeration value="xml"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>

    <xs:group name="templateElements">
        <xs:sequence>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="acceptDataModel" minOccurs="0"/>
                <xs:element name="desc" minOccurs="0"/>
                <xs:any namespace="##other" processContents="strict" minOccurs="0" maxOccurs="unbounded"/>
            </xs:choice>
        </xs:sequence>
    </xs:group>

    <xs:attributeGroup name="templateAttributes">
        <xs:attribute name="name" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation><![CDATA[
				]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="desc" type="xs:string">
            <xs:annotation>
                <xs:documentation><![CDATA[
				]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="destFile" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation><![CDATA[
				]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="templateFile" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation><![CDATA[
				]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="engine" default="groovy">
            <xs:annotation>
                <xs:documentation><![CDATA[
                engine is the template engine name, the value could be : groovy, velocity, jxls and so on.
                it depends on extension.
				]]></xs:documentation>
            </xs:annotation>
            <xs:simpleType>
                <xs:restriction base="xs:NMTOKEN">
                    <xs:enumeration value="groovy"/>
                    <xs:enumeration value="velocity"/>
                    <xs:enumeration value="freemarker"/>
                    <xs:enumeration value="jxls"/>
                    <xs:enumeration value="thymeleaf"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:anyAttribute namespace="##other" processContents="lax"/>
    </xs:attributeGroup>


    <!-- base types -->
    <xs:complexType name="identifiedType" abstract="true">
        <xs:annotation>
            <xs:documentation><![CDATA[
	The unique identifier for a template. The scope of the identifier
	is the enclosing bean factory.
			]]></xs:documentation>
        </xs:annotation>
        <xs:attribute name="id" type="xs:NCName" use="required">
            <xs:annotation>
                <xs:documentation><![CDATA[
	The unique identifier for a template. A template id may not be used more than once
	within the same <templates> element.
				]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="Contributor">
        <xs:annotation>
            <xs:documentation source="version">3.0.0+</xs:documentation>
            <xs:documentation source="description">
                Description of a person who has contributed to the project, but who does
                not have commit privileges. Usually, these contributions come in the
                form of patches submitted.
            </xs:documentation>
        </xs:annotation>
        <xs:all>
            <xs:element name="name" minOccurs="0" type="xs:string">
                <xs:annotation>
                    <xs:documentation source="version">3.0.0+</xs:documentation>
                    <xs:documentation source="description">The full name of the contributor.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="email" minOccurs="0" type="xs:string">
                <xs:annotation>
                    <xs:documentation source="version">3.0.0+</xs:documentation>
                    <xs:documentation source="description">The email address of the contributor.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="url" minOccurs="0" type="xs:string">
                <xs:annotation>
                    <xs:documentation source="version">3.0.0+</xs:documentation>
                    <xs:documentation source="description">The URL for the homepage of the contributor.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="organization" minOccurs="0" type="xs:string">
                <xs:annotation>
                    <xs:documentation source="version">3.0.0+</xs:documentation>
                    <xs:documentation source="description">The organization to which the contributor belongs.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="organizationUrl" minOccurs="0" type="xs:string">
                <xs:annotation>
                    <xs:documentation source="version">3.0.0+</xs:documentation>
                    <xs:documentation source="description">The URL of the organization.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="roles" minOccurs="0">
                <xs:annotation>
                    <xs:documentation source="version">3.0.0+</xs:documentation>
                    <xs:documentation source="description">
                        The roles the contributor plays in the project. Each role is
                        described by a &lt;code&gt;role&lt;/code&gt; element, the body of which is a
                        role name. This can also be used to describe the contribution.
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="role" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="timezone" minOccurs="0" type="xs:string">
                <xs:annotation>
                    <xs:documentation source="version">3.0.0+</xs:documentation>
                    <xs:documentation source="description">
                        The timezone the contributor is in. This is a number in the range -11 to 12.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="properties" minOccurs="0">
                <xs:annotation>
                    <xs:documentation source="version">3.0.0+</xs:documentation>
                    <xs:documentation source="description">
                        Properties about the contributor, such as an instant messenger handle.
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:any minOccurs="0" maxOccurs="unbounded" processContents="skip"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:all>
    </xs:complexType>
    <xs:complexType name="MailingList">
        <xs:annotation>
            <xs:documentation source="version">3.0.0+</xs:documentation>
            <xs:documentation source="description">
                This element describes all of the mailing lists associated with
                a project. The auto-generated site references this information.
            </xs:documentation>
        </xs:annotation>
        <xs:all>
            <xs:element name="name" minOccurs="0" type="xs:string">
                <xs:annotation>
                    <xs:documentation source="version">3.0.0+</xs:documentation>
                    <xs:documentation source="description">The name of the mailing list.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="subscribe" minOccurs="0" type="xs:string">
                <xs:annotation>
                    <xs:documentation source="version">3.0.0+</xs:documentation>
                    <xs:documentation source="description">
                        The email address or link that can be used to subscribe to the mailing list.
                        If this is an email address, a
                        &lt;code&gt;mailto:&lt;/code&gt; link will automatically be created when
                        the documentation is created.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="unsubscribe" minOccurs="0" type="xs:string">
                <xs:annotation>
                    <xs:documentation source="version">3.0.0+</xs:documentation>
                    <xs:documentation source="description">
                        The email address or link that can be used to unsubscribe to
                        the mailing list. If this is an email address, a
                        &lt;code&gt;mailto:&lt;/code&gt; link will automatically be created
                        when the documentation is created.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="post" minOccurs="0" type="xs:string">
                <xs:annotation>
                    <xs:documentation source="version">3.0.0+</xs:documentation>
                    <xs:documentation source="description">
                        The email address or link that can be used to post to
                        the mailing list. If this is an email address, a
                        &lt;code&gt;mailto:&lt;/code&gt; link will automatically be created
                        when the documentation is created.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="archive" minOccurs="0" type="xs:string">
                <xs:annotation>
                    <xs:documentation source="version">3.0.0+</xs:documentation>
                    <xs:documentation source="description">
                        The link to a URL where you can browse the mailing list archive.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="otherArchives" minOccurs="0">
                <xs:annotation>
                    <xs:documentation source="version">3.0.0+</xs:documentation>
                    <xs:documentation source="description">
                        The link to alternate URLs where you can browse the list archive.
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="otherArchive" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:all>
    </xs:complexType>
    <xs:complexType name="License">
        <xs:annotation>
            <xs:documentation source="version">3.0.0+</xs:documentation>
            <xs:documentation source="description">
                Describes the licenses for this project. This is used to generate
                the license page of the project&apos;s web site, as well as being taken into consideration in other
                reporting and
                validation. The licenses listed for the project are that of the project itself, and not of dependencies.
            </xs:documentation>
        </xs:annotation>
        <xs:all>
            <xs:element name="name" minOccurs="0" type="xs:string">
                <xs:annotation>
                    <xs:documentation source="version">3.0.0+</xs:documentation>
                    <xs:documentation source="description">The full legal name of the license.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="url" minOccurs="0" type="xs:string">
                <xs:annotation>
                    <xs:documentation source="version">3.0.0+</xs:documentation>
                    <xs:documentation source="description">The official url for the license text.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="distribution" minOccurs="0" type="xs:string">
                <xs:annotation>
                    <xs:documentation source="version">3.0.0+</xs:documentation>
                    <xs:documentation source="description">
                        The primary method by which this project may be distributed.
                        &lt;dl&gt;
                        &lt;dt&gt;repo&lt;/dt&gt;
                        &lt;dd&gt;may be downloaded from the Maven repository&lt;/dd&gt;
                        &lt;dt&gt;manual&lt;/dt&gt;
                        &lt;dd&gt;user must manually download and install the dependency.&lt;/dd&gt;
                        &lt;/dl&gt;
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="comments" minOccurs="0" type="xs:string">
                <xs:annotation>
                    <xs:documentation source="version">3.0.0+</xs:documentation>
                    <xs:documentation source="description">
                        Addendum information pertaining to this license.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:all>
    </xs:complexType>
    <xs:complexType name="Developer">
        <xs:annotation>
            <xs:documentation source="version">3.0.0+</xs:documentation>
            <xs:documentation source="description">
                Information about one of the committers on this project.
            </xs:documentation>
        </xs:annotation>
        <xs:all>
            <xs:element name="id" minOccurs="0" type="xs:string">
                <xs:annotation>
                    <xs:documentation source="version">3.0.0+</xs:documentation>
                    <xs:documentation source="description">The unique ID of the developer in the SCM.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="name" minOccurs="0" type="xs:string">
                <xs:annotation>
                    <xs:documentation source="version">3.0.0+</xs:documentation>
                    <xs:documentation source="description">The full name of the contributor.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="email" minOccurs="0" type="xs:string">
                <xs:annotation>
                    <xs:documentation source="version">3.0.0+</xs:documentation>
                    <xs:documentation source="description">The email address of the contributor.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="url" minOccurs="0" type="xs:string">
                <xs:annotation>
                    <xs:documentation source="version">3.0.0+</xs:documentation>
                    <xs:documentation source="description">The URL for the homepage of the contributor.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="organization" minOccurs="0" type="xs:string">
                <xs:annotation>
                    <xs:documentation source="version">3.0.0+</xs:documentation>
                    <xs:documentation source="description">The organization to which the contributor belongs.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="organizationUrl" minOccurs="0" type="xs:string">
                <xs:annotation>
                    <xs:documentation source="version">3.0.0+</xs:documentation>
                    <xs:documentation source="description">The URL of the organization.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="roles" minOccurs="0">
                <xs:annotation>
                    <xs:documentation source="version">3.0.0+</xs:documentation>
                    <xs:documentation source="description">
                        The roles the contributor plays in the project. Each role is
                        described by a &lt;code&gt;role&lt;/code&gt; element, the body of which is a
                        role name. This can also be used to describe the contribution.
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="role" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="timezone" minOccurs="0" type="xs:string">
                <xs:annotation>
                    <xs:documentation source="version">3.0.0+</xs:documentation>
                    <xs:documentation source="description">
                        The timezone the contributor is in. This is a number in the range -11 to 12.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="properties" minOccurs="0">
                <xs:annotation>
                    <xs:documentation source="version">3.0.0+</xs:documentation>
                    <xs:documentation source="description">
                        Properties about the contributor, such as an instant messenger handle.
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:any minOccurs="0" maxOccurs="unbounded" processContents="skip"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:all>
    </xs:complexType>
    <xs:complexType name="Scm">
        <xs:annotation>
            <xs:documentation source="version">4.0.0</xs:documentation>
        </xs:annotation>
        <xs:all>
            <xs:element name="connection" minOccurs="0" type="xs:string">
                <xs:annotation>
                    <xs:documentation source="version">4.0.0</xs:documentation>
                    <xs:documentation source="description">
                        The source control management system URL
                        that describes the repository and how to connect to the
                        repository. For more information, see the
                        &lt;a href=&quot;http://maven.apache.org/scm/scm-url-format.html&quot;&gt;URL format&lt;/a&gt;
                        and &lt;a href=&quot;http://maven.apache.org/scm/scms-overview.html&quot;&gt;list of supported
                        SCMs&lt;/a&gt;.
                        This connection is read-only.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="developerConnection" minOccurs="0" type="xs:string">
                <xs:annotation>
                    <xs:documentation source="version">4.0.0</xs:documentation>
                    <xs:documentation source="description">
                        Just like &lt;code&gt;connection&lt;/code&gt;, but for developers, i.e. this scm connection
                        will not be read only.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="tag" minOccurs="0" type="xs:string" default="HEAD">
                <xs:annotation>
                    <xs:documentation source="version">4.0.0</xs:documentation>
                    <xs:documentation source="description">
                        The tag of current code. By default, it&apos;s set to HEAD during development.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="url" minOccurs="0" type="xs:string">
                <xs:annotation>
                    <xs:documentation source="version">4.0.0</xs:documentation>
                    <xs:documentation source="description">
                        The URL to the project&apos;s browsable SCM repository, such as ViewVC or Fisheye.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:all>
    </xs:complexType>
    <xs:complexType name="Organization">
        <xs:annotation>
            <xs:documentation source="version">3.0.0+</xs:documentation>
            <xs:documentation source="description">Specifies the organization that produces this project.
            </xs:documentation>
        </xs:annotation>
        <xs:all>
            <xs:element name="name" minOccurs="0" type="xs:string">
                <xs:annotation>
                    <xs:documentation source="version">3.0.0+</xs:documentation>
                    <xs:documentation source="description">The full name of the organization.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="url" minOccurs="0" type="xs:string">
                <xs:annotation>
                    <xs:documentation source="version">3.0.0+</xs:documentation>
                    <xs:documentation source="description">The URL to the organization&apos;s home page.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:all>
    </xs:complexType>

</xs:schema>
